body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #f9b233;
    color: white;
    text-align: center;
    padding: 40px;
}

section {
    padding: 30px;
    margin: 20px;
    background: white;
}

h2 {
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px
